.main-header {
  position: relative;
  background-image: url("../img/mobile/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/header-bg@2x.png");
    background-size: cover;
  }
}

.main-header__intro-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 240px;
  padding-bottom: 304px;
}

.main-header__title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  color: $orange;
  text-align: center;
  margin: 0;

  &--restaurant {
    font-size: 40px;
    line-height: 46px;
  }
}

.main-header__eat-home {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  margin-top: 5px;
  margin-bottom: 0;
}

.main-header__menu-restaurant {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  width: 137px;
  height: 47px;
  margin-top: 45px;
  transition: $animation;

  &:hover,
  &:focus {
    color: $black;
    transition: $animation;
  }
}

.main-header__advantages {
  position: relative;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  width: 290px;
  margin: 0 auto;
  z-index: 5;
}

.main-header__advantage-block {
  position: relative;
  text-align: center;
  background-color: $white;
  width: 264px;
  height: 156px;
  padding: 100px 13px 20px 13px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 100px;
    background-image: url("../img/icons/dish.svg");
    background-repeat: no-repeat;
    width: 87px;
    height: 87px;
  }
}

.main-header__advantage-title {
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 0;
}

.main-header__advantage-description {
  font-size: 20px;
  line-height: 25px;
  color: $grey;
}

@media (min-width: $tabletW) {
  .main-header {
    height: 650px;
  }

  .main-header__intro-info {
    margin-top: 160px;
    padding-bottom: 200px;
  }

  .main-header__title {
    font-size: 34px;
    line-height: 42px;
    width: 350px;

    &--restaurant {
      font-size: 50px;
      line-height: 55px;
    }
  }

  .main-header__eat-home {
    position: relative;
    margin-top: 12px;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: -69px;
      width: 61px;
      height: 2px;
      background-color: $grey3;
    }

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      right: -69px;
      width: 61px;
      height: 2px;
      background-color: $grey3;
    }
  }

  .main-header__advantages {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }

  .main-header__advantage-block {
    width: 190px;

    &::before {
      left: 65px;
    }
  }

  .main-header__advantage-title {
    font-size: 28px;
    margin-bottom: 7px;
  }

  .main-header__advantage-description {
    font-size: 15px;
    line-height: 16px;
  }
}

@media (min-width: $desktopW) {
  .main-header {
    background-image: url("../img/desktop/header-bg.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop/header-bg@2x.png");
    }
  }

  .main-header__intro-info {
    width: 560px;
    margin-top: 120px;
    padding-bottom: 0;
  }

  .main-header__title {
    font-size: 50px;
    line-height: 57px;
    width: 560px;

    &--restaurant {
      font-size: 80px;
      line-height: 90px;
    }
  }

  .main-header__eat-home {
    font-size: 18px;
    line-height: 24px;

    &::before,
    &::after {
      top: 11px;
    }
  }

  .main-header__advantages {
    bottom: -60px;
  }

  .main-header__advantage-block {
    width: 290px;

    &::before {
      left: 105px;
    }
  }

  .main-header__advantage-title {
    font-size: 25px;
    line-height: 30px;
    margin: 7px 0;
  }

  .main-header__advantage-description {
    font-size: 18px;
    line-height: 23px;
  }
}
