.main-footer {
  text-align: center;
  background-image: url("../img/mobile/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}

.main-footer__up {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 44px;
  background-color: $orange;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: $animation;

  &:hover,
  &:focus {
    color: $black;
    transition: $animation;
  }
}

.main-footer__contacts {
  margin: 20px 0;
}

.main-footer__number {
  text-decoration: none;
  color: $grey2;
  position: relative;
  transition: $animation;

  &:hover,
  &:focus {
    color: $grey;
    transition: $animation;
  }

  &::before {
    content: "";
    position: absolute;
    left: -35px;
    width: 21px;
    height: 21px;
    background-image: url("../img/icons/phone.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.main-footer__feedback {
  display: inline-block;
  color: $grey2;
}

.main-footer__copyright {
  color: $grey2;
}

@media (min-width: $desktopW) {
  .main-footer {
    background-image: url("../img/desktop/footer-bg.png");
    padding: 80px 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop/footer-bg@2x.png");
    }
  }

  .main-footer__info {
    display: flex;
    justify-content: space-between;
  }

  .main-footer__up {
    margin: 0;
  }

  .main-footer__contacts {
    margin: 0;
  }

  .main-footer__copyright {
    align-self: flex-end;
  }
}
