.container {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $tabletW) {
    width: 698px;
    padding: 0 35px;
  }

  @media (min-width: $desktopW) {
    width: 1040px;
    padding: 0 120px;
  }
}
