//colors
$white: #ffffff;
$black: #000000;
$orange: #d67e34;
$lbrown: #bc9060;
$grey: #656363;
$grey2: #e5e4e4;
$grey3: #c4c4c4;

//widths
$tabletW: 768px;
$desktopW: 1280px;

//times
$animation: 0.4s;
